<!DOCTYPE html>
<html ng-app>
<head>
	<title>Lab17</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="../assets/angular.min.js"></script>
</head>
<body>
    <table border="0">

        <tr>
            <td><input type="checkbox" ng-model="enableDisableButton">Disable Button</td>
            <td><button ng-disabled="enableDisableButton">Click Me</button></td>
        </tr>

        <tr>
            <td><input type="checkbox" ng-model="showHide">Disable Button</td>
            <td><button ng-show="showHide">Click Me</button></td>
        </tr>
    </table>
</body>
</html>